<dialog #dialog style="border: 2px solid seagreen;border-radius: 12px;position: absolute;top: calc(50% - 200px)">
  <div style="width: 100%;display: flex;border-bottom: 1px solid">
    <h1 style="font-family: monospace;color: seagreen;flex-grow: 1;margin: 0">{{ title() }}</h1>
    <span class="material-symbols-outlined"
          (click)="dialog.close()"
          style="color: crimson;cursor: pointer;display: inline-block;align-items:center">close</span>
  </div>
  <div style="max-height: 300px;overflow: auto;height: 300px">
    <ng-content></ng-content>
  </div>
</dialog>
